dd {
  margin: 0;
}

.term__wrapper {
  width: 15.625rem;
  height: 16.1875rem;
  padding: 0.9375rem;
  box-sizing: border-box;
  border: 0.0625rem solid #a3a3a3;
  border-radius: 0.3125rem;
  background: linear-gradient(#ccc, #eee);
}

.title {
  margin: 0 0 1rem 0;
  font-size: 0.9375rem;
  line-height: 1.4375rem;
  font-weight: bold;
}

.desc__list {
  margin-top: 0;
  margin-bottom: 0.75rem;
}

.desc__list:last-child {
  margin: 0;
}

.desc__term,
.desc__text {
  font-size: 0.875rem;
  line-height: 1.3125rem;
}

.desc__term {
  font-weight: bold;
  color: #296897;
  margin-bottom: 0.25rem;
  margin-right: 4.1875rem;
}

.desc__term-right {
  float: right;
}

.desc__term-left {
  float: left;
}

.img__float-left {
  margin-right: 1rem;
  float: left;
}

.img__float-right {
  margin-left: 1rem;
  float: right;
}
